.body { 
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    padding: 20px 2%;
    box-sizing: border-box;
    font-size: 0;
}

.logo, .directions, .signin-signup {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    width: 20%;
    position: relative;
    left: 50px;
}

.logo-text {
    color: #173A56;
    font-size: 42px;
    font-weight: bold;
}

.directions {
    position: relative;
    width: 50%;
    text-align: center;
    color: #2F281E;
    font-size: 16px;
    left: 300px;
}

.signin-signup  {
    position: relative;
    width: 25%;
    text-align: right;
    right: 50px;
}

.directions ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.directions li {
    display: inline-block;
    margin: 0 15px;
}

.directions a {
    text-decoration: none;
    color: #2F281E;
    font-weight: bold;
}

.signin {
    background: transparent;
    border: 2px solid #BCD0E5;
    color: #173A56;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}

.signup {
    background-color: #FF9900;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

